    .contentAll {
        height: 1500px;
        width: 100%;
        display: grid;
        /* margin-bottom: 150px; */
        grid-template-columns: 39.25% 59.25%;
        grid-column-gap: 1.5%;
        grid-template-areas: "generalInfo rigthBigOne" "detailProject rigthBigOne""detailProject rigthBigOne";
    }
    
    .generalInfo {
        grid-area: generalInfo;
    }
    
     ::-webkit-scrollbar {
        width: 8px;
    }
    
     ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #E8E9E9;
        border-radius: 10px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
    }
    
     ::-webkit-scrollbar-thumb {
        background: #4D4D4D;
        border-radius: 20px;
    }
    
    .leftBigOne {
        /* width: 42%; */
        margin-right: 1.5%;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0px 5px 5px rgba(138, 133, 133, 0.459);
    }
    
    .bigger {
        border-radius: 5px;
        height: 100%;
        background-color: white;
    }
    
    .contentImage {}
    
    .backgroundPhoto {
        /* background-image: url("../image/download5.jpg"); */
        background: linear-gradient(rgba(32, 32, 221, 0.5), rgba(32, 32, 221, 0.5));
        /* background: url("../image/photo_2021-11-22_21-34-47.jpg"); */
        background-size: cover;
        width: 97%;
        /* height: 26.75%; */
        border-radius: 5px 5px 0px 0px;
        padding-inline: 1.5%;
        opacity: 0, 5;
        box-shadow: inset 500px 0px 0px 500px rgba(32, 32, 221, 0.336);
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5%;
        padding-top: 1.5%;
        height: 400px;
    }
    
    .theBackgroundPhoto {}
    
    .searchBar {
        background-color: #FBFAF9;
        width: 97%;
        height: 10%;
        border-radius: 5px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.5%;
    }
    
    .inputSearchBar {
        height: 100%;
        border-style: none;
        background-color: #FBFAF9;
        outline: none;
        font-size: 15px;
        width: 50%;
    }
    
    .bigIcon {
        width: 40px;
        height: 40px;
    }
    
    .smallIcon {
        width: 30px;
        height: 30px;
    }
    
    .profilePhoto {
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }
    
    .personnalInfo {
        display: flex;
        /* margin-top: 150px; */
        /* margin-left: 30px; */
        flex-flow: row;
        align-items: center;
        width: 90%;
    }
    
    .contentSlideBar {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
    
    .contentRedBar {
        width: 100%;
        background-color: #12609E;
    }
    
    .nom {
        font-size: xx-large;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .simpleText {
        font-size: x-large;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .thinText {
        font-size: x-large;
        color: rgba(238, 234, 234, 0.849);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
    }
    
    .oneLineText {
        display: flex;
        flex-direction: row;
    }
    /* 
.contentCircleButton {
    display: flex;
    justify-content: end;
} */
    
    .sentIcon {
        width: 30px;
        height: 30px;
        position: absolute;
        margin: auto;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
    }
    
    .sentedIcon {
        width: 0px;
        height: 0px;
        position: absolute;
        margin: auto;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        opacity: 0%;
    }
    
    .circleButton {
        background-color: #E34756;
        border-style: none;
        border-radius: 100%;
        position: absolute;
        width: 80px;
        height: 80px;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px rgba(28, 28, 29, 0.767);
        /* margin-top: -5%; */
        top: -10%;
        right: 5%;
        /* -webkit-animation-name: cssAnimation; */
    }
    
    .circleButton:hover {
        background-color: #a7333f;
        box-shadow: 0px 0px 10px rgba(182, 182, 194, 0.767);
        -webkit-animation-name: cssAnimation;
        -webkit-animation-duration: 0.75s;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        -webkit-transform: rotate(-90deg);
    }
    
    @-webkit-keyframes cssAnimation {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(-90deg);
        }
    }
    
    .activeCircleButton {
        background-color: #E34756;
        border-style: none;
        border-radius: 100%;
        position: absolute;
        width: 80px;
        height: 80px;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px rgba(48, 48, 77, 0.767);
        /* margin-top: -5%; */
        top: -10%;
        right: 5%;
        /* -webkit-animation-name: cssAnimationtwo; */
    }
    
    .activeCircleButton:hover {
        background-color: #a7333f;
        box-shadow: 0px 0px 10px rgba(182, 182, 194, 0.767);
        -webkit-animation-name: cssAnimationtwo;
        -webkit-animation-duration: 0.75s;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
    }
    
    @-webkit-keyframes cssAnimationtwo {
        from {
            -webkit-transform: rotate(-90deg);
        }
        to {
            -webkit-transform: rotate(-180deg);
        }
    }
    
    .unactiveImage {
        opacity: 0%;
        width: 30px;
        height: 30px;
        position: absolute;
        margin: auto;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        transition-duration: 1s;
    }
    
    .deleteIcon {
        opacity: 0%;
        width: 30px;
        height: 30px;
        position: absolute;
        margin: auto;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        transition-duration: 1s;
    }
    
    .activeImage {
        opacity: 100%;
        width: 30px;
        height: 30px;
        position: absolute;
        margin: auto;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        transition-duration: 1s;
    }
    
    .smallCircleButtonOne {
        background-color: #eef3ff;
        border-style: none;
        border-radius: 100%;
        position: absolute;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px rgba(28, 28, 29, 0.767);
        /* margin-top: -5%; */
        top: -7.5%;
        right: 7.5%;
        /* -webkit-animation-name: cssAnimationtwo; */
        transition-duration: 0.5s;
    }
    
    .smallCircleButtonTwo {
        background-color: #eef3ff;
        border-style: none;
        border-radius: 100%;
        position: absolute;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px rgba(28, 28, 29, 0.767);
        top: -7.5%;
        right: 7.5%;
        transition-duration: 0.5s;
    }
    
    .smallCircleButtonTree {
        background-color: #eef3ff;
        border-style: none;
        border-radius: 100%;
        position: absolute;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px rgba(28, 28, 29, 0.767);
        top: -7.5%;
        right: 7.5%;
        transition-duration: 0.5s;
    }
    
    .activeSmallCircleButtonOne {
        background-color: #eef3ff;
        border-style: none;
        border-radius: 100%;
        position: absolute;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px rgba(28, 28, 29, 0.767);
        top: -7.5%;
        right: 7.5%;
        transition-duration: 0.5s;
        transform: translateX(-300%) rotate(-360deg);
    }
    
    .activeSmallCircleButtonOne:hover {
        background-color: #E34756;
    }
    
    .activeSmallCircleButtonTwo {
        background-color: #eef3ff;
        border-style: none;
        border-radius: 100%;
        position: absolute;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px rgba(28, 28, 29, 0.767);
        top: -7.5%;
        right: 7.5%;
        transition-duration: 0.5s;
        transform: translateX(-150%) rotate(-360deg);
    }
    
    .activeSmallCircleButtonTwo:hover {
        background-color: #E34756;
    }
    
    .activeSmallCircleButtonTree {
        background-color: #eef3ff;
        border-style: none;
        border-radius: 100%;
        position: absolute;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px rgba(28, 28, 29, 0.767);
        top: -7.5%;
        right: 7.5%;
        transition-duration: 0.5s;
        transform: translateX(-450%) rotate(-360deg);
    }
    
    .activeSmallCircleButtonTree:hover {
        background-color: #E34756;
    }
    
    .loadingImage {
        -webkit-animation: loadingImage 2s linear infinite;
        animation: loadingImage 2s linear infinite;
        opacity: 0%;
    }
    
    .loadingImageActive {
        -webkit-animation: loadingImage 1s steps(8) infinite;
        animation: loadingImage 1s steps(8) infinite;
        opacity: 100%;
    }
    
    .appearImage {
        -webkit-animation: loadingImage 0.5s linear 1;
        animation: loadingImage 0.5s linear 1;
        font-size: 5em;
    }
    
    .appeaurToloadingImageActive {
        -webkit-animation: loadingImage 1s steps(8) infinite;
        animation: loadingImage 1s steps(8) infinite;
        font-size: 5em;
    }
    
    @-webkit-keyframes loadingImage {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
        }
    }
    
    .contentTwoSmallForms {
        display: flex;
    }
    
    .pdfBigImage {
        width: 100px;
        height: 100px;
        border-style: none;
        background-color: transparent;
        font-size: 5em;
        color: #12609E;
    }
    
    .pdfBigImage:hover {
        width: 100px;
        height: 100px;
        border-style: none;
        background-color: rgba(128, 128, 128, 0.219);
        font-size: 5em;
        color: #0b5592;
    }
    
    .bigImageButton {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    
    .coordonate {
        position: relative;
        flex-flow: column;
        background-color: #12609E;
        width: 90%;
        padding-inline: 5%;
        padding-top: 5%;
    }
    
    .birthday {
        display: flex;
        flex-flow: row;
        width: 100%;
        align-items: center;
    }
    
    .address {
        margin-top: 3%;
        display: flex;
        flex-flow: row;
        width: 100%;
        align-items: center;
    }
    
    .telephone {
        margin-top: 3%;
        display: flex;
        flex-flow: row;
        width: 100%;
        align-items: center;
    }
    
    .mail {
        margin-top: 3%;
        display: flex;
        flex-flow: row;
        width: 100%;
        align-items: center;
    }
    
    .bottomLine {
        margin-top: 3%;
        height: 2px;
        background-color: #2b77b4;
    }
    
    .oldProject {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: #12609E;
        width: 90%;
        height: 100px;
        border-style: none;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .detailOldProjet {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        grid-area: detailProject;
    }
    
    .contentSlideBar {
        display: flex;
        flex-flow: column;
        border-style: none;
    }
    
    .redBar {
        width: 33.33%;
        height: 5px;
        background-color: #E34756;
    }
    
    .detailProject {
        display: flex;
        flex-flow: column;
        background-color: white;
        width: 90%;
        padding-inline: 5%;
        padding-top: 5%;
        box-shadow: 0px 5px 5px rgba(138, 133, 133, 0.459);
    }
    
    .simpleBlackText {
        font-size: large;
        color: rgb(32, 30, 30);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .checked {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5%;
        align-items: flex-start;
    }
    
    .detailProject {
        border-radius: 0px 0px 5px 5px;
    }
    
    .properlyProject {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 80%;
    }
    
    .rigthBigOne {
        display: flex;
        flex-flow: column;
        /* width: 57%; */
        height: 100%;
        border-radius: 0 0 5px 5px;
        /* box-shadow: 0px 0px 0px 3px rgba(184, 179, 179, 0.884); */
        padding-bottom: 1%;
        grid-area: rigthBigOne;
    }
    
    .titleBar {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    
    .imageText {
        display: flex;
        width: 70%;
        align-items: center;
    }
    
    .titleProfessionalExp {
        width: 96%;
        background-color: #12609E;
        display: flex;
        align-items: center;
        border-radius: 5px 5px 0px 0px;
        height: 4.5%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-inline: 2%;
    }
    
    .titleText {
        font-size: xx-large;
        color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .geantIcon {
        width: 10%;
        height: 100%;
        margin: 3%;
    }
    
    .mediumBlackText {
        font-size: x-large;
        color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 0.5%;
    }
    
    .simpleBlueText {
        font-size: large;
        color: #12609E;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .smallWhiteText {
        font-size: small;
        color: rgb(253, 253, 253);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .simpleGreyText {
        font-size: medium;
        color: rgb(91, 92, 94);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .listProfessionalExp {
        background-color: white;
        padding: 2%;
    }
    
    .greyBottomLine {
        margin-top: 3%;
        height: 1px;
        background-color: rgb(198, 199, 204);
    }
    
    .contentScroll {
        display: flex;
        flex-flow: column;
        height: 523.5px;
        border-radius: 0px 0px 5px 5px;
        margin-bottom: 3%;
        padding: 3%;
        background-color: white;
        box-shadow: 0px 2px 3px rgba(168, 163, 163, 0.884);
    }
    
    .scrollOne {
        overflow-y: scroll;
        display: flex;
        flex-flow: column;
        height: 100%;
        border-radius: 0px 0px 5px 5px;
        margin-bottom: 2%;
    }
    
    .scrollOne::-webkit-scrollbar {
        width: 8px;
    }
    
    .scrollOne::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(211, 210, 210);
        border-radius: 10px;
        border-left: 3px solid transparent;
        border-right: 3px solid white;
    }
    
    .scrollOne::-webkit-scrollbar-thumb {
        background: #4D4D4D;
        border-radius: 20px;
    }
    
    .doubleDiv {
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        width: 100%;
        /* height: 400px; */
    }
    
    .interestPoint {
        width: 59%;
        background-color: white;
        border-radius: 5px;
        margin-right: 1.5%;
        padding-inline: 4%;
        display: flex;
        flex-flow: column;
        box-shadow: 3px 3px 3px rgba(184, 179, 179, 0.884);
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    .pleasureImage {
        width: 50%;
        /* height: 90%; */
    }
    
    .listeImageInteret {
        display: flex;
        width: 100%;
        height: 80%;
        overflow-x: scroll;
    }
    
    .listeImageInteret::-webkit-scrollbar {
        height: 8px;
    }
    
    .listeImageInteret::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(211, 210, 210);
        border-radius: 5px;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
    }
    
    .listeImageInteret::-webkit-scrollbar-thumb {
        background: rgb(104, 104, 104);
        border-radius: 20px;
    }
    /* 
.listeImageInteret::-webkit-scrollbar {
    background: transparent;
} */
    
    .language {
        width: 33%;
        background-color: white;
        border-radius: 5px;
        margin-left: 2%;
        padding-top: 2%;
        padding-inline: 4%;
        padding-bottom: 2%;
        box-shadow: 3px 3px 3px rgba(184, 179, 179, 0.884);
    }
    
    .bigGreyText {
        font-size: x-large;
        color: rgb(91, 92, 94);
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 5%;
    }
    
    .checkLanguage {
        display: flex;
        align-items: center;
        margin-top: 3%;
        margin-bottom: 10%;
    }
    
    .contentScrollTwo {
        display: flex;
        flex-flow: column;
        height: 523.5px;
        border-radius: 0px 0px 5px 5px;
        padding-inline: 3%;
        background-color: white;
        box-shadow: 3px 3px 3px rgba(184, 179, 179, 0.884);
        padding-top: 3%;
    }
    
    .scrollTwo {
        overflow-y: scroll;
        display: flex;
        flex-flow: column;
        height: 100%;
        border-radius: 0px 0px 10px 10px;
        margin-bottom: 3%;
    }
    
    .scrollTwo::-webkit-scrollbar {
        width: 8px;
    }
    
    .scrollTwo::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(211, 210, 210);
        border-radius: 10px;
        border-left: 3px solid white;
        border-right: 3px solid white;
    }
    
    .scrollTwo::-webkit-scrollbar-thumb {
        background: rgb(104, 104, 104);
        border-radius: 20px;
    }
    
    .academicCursusTitle {
        width: 96%;
        background-color: #12609E;
        display: flex;
        align-items: center;
        border-radius: 5px 5px 0px 0px;
        height: 4.5%;
        margin-top: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-inline: 2%;
    }
    
    .dateSpeciality {
        display: flex;
    }
    
    .treeDots {
        width: 5%;
        height: 80%;
    }
    
    .listAcademicCursus {}
    
    #myCheck {
        font-size: 2em;
        color: #12609E;
    }